<a href="https://colab.research.google.com/github/yujinkim23/DataEngineering/blob/main/schemas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Schemas

## Download and install Spark

In [1]:
!ls

 reported-crimes.csv		 spark-2.3.1-bin-hadoop2.7
'rows.csv?accessType=DOWNLOAD'	 spark-2.3.1-bin-hadoop2.7.tgz
 sample_data			 spark-2.3.1-bin-hadoop2.7.tgz.1

In [2]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

Hit:1 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:3 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu2004/x86_64  Release
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Reading package lists... Done

## Setup environment

[Jan 2023 update]
- Google colab recently upgraded to Python 3.8. Unfortunately this breaks spark 2.3.1. 
- Please use the code below where we install from the pyspark package instead

In [3]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [5]:
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

#import findspark
#findspark.init()
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()

#import pyspark
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.getOrCreate() 
#spark

## Downloading and preprocessing Chicago's Reported Crime Data

In [6]:
!wget https://data.cityofchicago.org/api/views/dwme-t96c/rows.csv?accessType=DOWNLOAD
!ls -l

--2023-02-11 18:01:51--  https://data.cityofchicago.org/api/views/dwme-t96c/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD.1’

rows.csv?accessType     [      <=>           ]  47.50M  3.11MB/s    in 16s

2023-02-11 18:02:07 (3.01 MB/s) - ‘rows.csv?accessType=DOWNLOAD.1’ saved [49811074]

total 807720
-rw-r--r--  1 root root  49811074 Feb 11 14:43  reported-crimes.csv
-rw-r--r--  1 root root  49811074 Feb 11 14:43 'rows.csv?accessType=DOWNLOAD'
-rw-r--r--  1 root root  49811074 Feb 11 14:43 'rows.csv?accessType=DOWNLOAD.1'
drwxr-xr-x  1 root root      4096 Feb  9 14:42  sample_data
drwxrwxr-x 13 1000 1000      4096 Jun  1  2018  spark-2.3.1-bin-hadoop2.7
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz.1
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz.2

In [7]:
!mv rows.csv\?accessType\=DOWNLOAD reported-crimes.csv
!ls -l

total 759076
-rw-r--r--  1 root root  49811074 Feb 11 14:43  reported-crimes.csv
-rw-r--r--  1 root root  49811074 Feb 11 14:43 'rows.csv?accessType=DOWNLOAD.1'
drwxr-xr-x  1 root root      4096 Feb  9 14:42  sample_data
drwxrwxr-x 13 1000 1000      4096 Jun  1  2018  spark-2.3.1-bin-hadoop2.7
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz.1
-rw-r--r--  1 root root 225883783 Jun  1  2018  spark-2.3.1-bin-hadoop2.7.tgz.2

In [77]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2021-11-11'))
rc.show(5)

+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR| Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|12343475|   JE202728|2021-04-16 20:45:00|   056XX N RIDGE AVE|0820|        THEFT|      $500 AND UNDER|     OTHER (SPECIFY)| false|   false|2013|     020|  48|            77|      06|        null|        null|2021|04/23/2021 04:51:...|        null|         null|                null|
|12602803|   JF125633|2021-10-21 11:00:00|083XX S STONY ISL...|500E|OTHER OFFENSE|       EAVESDROPPING|     OTHER (SPECIFY)| false|   false|0412|     004|   8|            45|      26|     1188260|     1849805|2021|02/27/2022 03:46:...| 41.74294124|-87.585783412|(41.74294124, -87...|
|12445976|   JE328996|2021-08-07 02:36:00|131XX S FORRESTVI...|041A|      BATTERY|AGGRAVATED - HANDGUN|              STREET| false|   false|0533|     005|   9|            54|     04B|     1183883|     1819061|2021|01/03/2023 03:46:...|41.658678993|-87.602776239|(41.658678993, -8...|
|12519170|   JE252347|2021-06-02 11:30:00|     004XX W 27TH ST|2018|    NARCOTICS|MANUFACTURE / DEL...|              STREET|  true|   false|0914|     009|  11|            60|      18|        null|        null|2021|01/03/2023 03:46:...|        null|         null|                null|
|12265790|   JE108071|2021-01-09 15:59:00|017XX W WINNEMAC AVE|1020|        ARSON|             BY FIRE|VEHICLE NON-COMME...|  true|    true|2032|     020|  40|             3|      09|     1164039|     1933591|2021|08/12/2021 04:59:...|41.973401006|-87.672165851|(41.973401006, -8...|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [9]:
rc.count()

179939

## Schemas

In [10]:
rc.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

In [11]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType

In [12]:
rc.columns

['ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']

In [13]:
labels = [
  ('ID', StringType()),
  ('Case Number', StringType()),
  ('Date', TimestampType()),
  ('Block', StringType()),
  ('IUCR', StringType()), 
  ('Primary Type', StringType()),
  ('Description', StringType()),
  ('Location Description', StringType()),
  ('Arrest', StringType()),
  ('Domestic', BooleanType()),
  ('Beat', StringType()),
  ('District', StringType()),
  ('Ward', StringType()),
  ('Community Area', StringType()),
  ('FBI Code', StringType()),
  ('X Coordinate', StringType()),
  ('Y Coordinate', StringType()),
  ('Year', IntegerType()),
  ('Updated On', StringType()),
  ('Latitude', DoubleType()),
  ('Longitude', DoubleType()),
  ('Location', StringType())
]

In [14]:
schema = StructType([StructField (x[0], x[1], True) for x in labels])
schema

StructType([StructField('ID', StringType(), True), StructField('Case Number', StringType(), True), StructField('Date', TimestampType(), True), StructField('Block', StringType(), True), StructField('IUCR', StringType(), True), StructField('Primary Type', StringType(), True), StructField('Description', StringType(), True), StructField('Location Description', StringType(), True), StructField('Arrest', StringType(), True), StructField('Domestic', BooleanType(), True), StructField('Beat', StringType(), True), StructField('District', StringType(), True), StructField('Ward', StringType(), True), StructField('Community Area', StringType(), True), StructField('FBI Code', StringType(), True), StructField('X Coordinate', StringType(), True), StructField('Y Coordinate', StringType(), True), StructField('Year', IntegerType(), True), StructField('Updated On', StringType(), True), StructField('Latitude', DoubleType(), True), StructField('Longitude', DoubleType(), True), StructField('Location', StringType(), True)])

In [15]:
!ls -1

reported-crimes.csv
'rows.csv?accessType=DOWNLOAD.1'
sample_data
spark-2.3.1-bin-hadoop2.7
spark-2.3.1-bin-hadoop2.7.tgz
spark-2.3.1-bin-hadoop2.7.tgz.1
spark-2.3.1-bin-hadoop2.7.tgz.2

In [16]:
rc = spark.read.csv('reported-crimes.csv', schema=schema, header=True)

In [17]:
rc.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [61]:
rc.show(5)

+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR| Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|12343475|   JE202728|2021-04-16 20:45:00|   056XX N RIDGE AVE|0820|        THEFT|      $500 AND UNDER|     OTHER (SPECIFY)| false|   false|2013|     020|  48|            77|      06|        null|        null|2021|04/23/2021 04:51:...|        null|         null|                null|
|12602803|   JF125633|2021-10-21 11:00:00|083XX S STONY ISL...|500E|OTHER OFFENSE|       EAVESDROPPING|     OTHER (SPECIFY)| false|   false|0412|     004|   8|            45|      26|     1188260|     1849805|2021|02/27/2022 03:46:...| 41.74294124|-87.585783412|(41.74294124, -87...|
|12445976|   JE328996|2021-08-07 02:36:00|131XX S FORRESTVI...|041A|      BATTERY|AGGRAVATED - HANDGUN|              STREET| false|   false|0533|     005|   9|            54|     04B|     1183883|     1819061|2021|01/03/2023 03:46:...|41.658678993|-87.602776239|(41.658678993, -8...|
|12519170|   JE252347|2021-06-02 11:30:00|     004XX W 27TH ST|2018|    NARCOTICS|MANUFACTURE / DEL...|              STREET|  true|   false|0914|     009|  11|            60|      18|        null|        null|2021|01/03/2023 03:46:...|        null|         null|                null|
|12265790|   JE108071|2021-01-09 15:59:00|017XX W WINNEMAC AVE|1020|        ARSON|             BY FIRE|VEHICLE NON-COMME...|  true|    true|2032|     020|  40|             3|      09|     1164039|     1933591|2021|08/12/2021 04:59:...|41.973401006|-87.672165851|(41.973401006, -8...|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

## Working with columns

In [19]:
rc.select('IUCR').show(5)

+----+
|IUCR|
+----+
|0460|
|0820|
|500E|
|0850|
|0486|
+----+
only showing top 5 rows

In [62]:
rc.select('Case Number','Date','Arrest').show(5)

+-----------+-------------------+------+
|Case Number|               Date|Arrest|
+-----------+-------------------+------+
|   JE202728|2021-04-16 20:45:00| false|
|   JF125633|2021-10-21 11:00:00| false|
|   JE328996|2021-08-07 02:36:00| false|
|   JE252347|2021-06-02 11:30:00|  true|
|   JE108071|2021-01-09 15:59:00|  true|
+-----------+-------------------+------+
only showing top 5 rows

### Add a column with name One, with entries all 1

In [21]:
from pyspark.sql.functions import lit

In [22]:
#rc.withColumn('One',lit(1)).show(5)

+--------+-----------+----+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|      ID|Case Number|Date|               Block|IUCR| Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|One|
+--------+-----------+----+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|12571973|   JE482457|null|   042XX S MOZART ST|0460|      BATTERY|              SIMPLE|            SIDEWALK|  true|    true|0921|     009|  15|            58|     08B|     1158067|     1876425|2021|09/12/2022 04:45:...| 41.81665685|-87.695688608|(41.81665685, -87...|  1|
|12343475|   JE202728|null|   056XX N RIDGE AVE|0820|        THEFT|      $500 AND UNDER|     OTHER (SPECIFY)| false|   false|2013|     020|  48|            77|      06|        null|        null|2021|04/23/2021 04:51:...|        null|         null|                null|  1|
|12602803|   JF125633|null|083XX S STONY ISL...|500E|OTHER OFFENSE|       EAVESDROPPING|     OTHER (SPECIFY)| false|   false|0412|     004|   8|            45|      26|     1188260|     1849805|2021|02/27/2022 03:46:...| 41.74294124|-87.585783412|(41.74294124, -87...|  1|
|12540388|   JE444591|null|086XX S COTTAGE G...|0850|        THEFT|       ATTEMPT THEFT|   CONVENIENCE STORE| false|   false|0632|     006|   6|            44|      06|     1183071|     1847869|2021|11/21/2021 03:48:...|41.737750767|-87.604855911|(41.737750767, -8...|  1|
|12541139|   JE445494|null|     034XX W 38TH ST|0486|      BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0911|     009|  12|            58|     08B|     1154073|     1879187|2021|11/21/2021 03:48:...|41.824316537|-87.710266215|(41.824316537, -8...|  1|
+--------+-----------+----+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
only showing top 5 rows

** Remove the column IUCR **

In [23]:
# rc = rc.drop('IUCR')
# rc.show(5)

#Working with rows

## Add the reported crimes for an additional day, 12-11-2021, to our dataset.

In [78]:
 one_day = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') == lit('2021-11-12'))
 one_day.count()

17

In [79]:
orc = rc.union(one_day).orderBy('Date', ascending = False)
orc.show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|12588706|   JF108473|2021-11-12 00:00:00|  097XX S HALSTED ST|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|     OTHER (SPECIFY)| false|   false|2223|     022|  34|            73|      11|        null|        null|2021|01/11/2022 03:47:...|        null|         null|                null|
|12563128|   JE471529|2021-11-12 00:00:00|063XX N LAKEWOOD AVE|1156|DECEPTIVE PRACTICE|ATTEMPT - FINANCI...|           RESIDENCE| false|   false|2433|     024|  48|            77|      11|     1166467|     1942239|2021|12/14/2021 03:46:...|41.997079586| -87.66298866|(41.997079586, -8...|
|12573690|   JE484741|2021-11-12 00:00:00| 046XX N KENMORE AVE|1120|DECEPTIVE PRACTICE|             FORGERY|           RESIDENCE| false|   false|1914|     019|  46|             3|      10|     1168402|     1931046|2021|12/23/2021 03:45:...|41.966323927|-87.656196115|(41.966323927, -8...|
|12554348|   JE461427|2021-11-12 00:00:00|021XX W LEXINGTON ST|0560|           ASSAULT|              SIMPLE|POLICE FACILITY /...| false|   false|1225|     012|  28|            28|     08A|     1162296|     1896746|2021|12/02/2021 03:50:...|41.872332627|-87.679608149|(41.872332627, -8...|
|12562474|   JE471294|2021-11-12 00:00:00|  061XX N LEGETT AVE|1120|DECEPTIVE PRACTICE|             FORGERY|           RESIDENCE| false|   false|1621|     016|  39|            12|      10|     1141560|     1940423|2021|12/11/2021 03:48:...|41.992594838|-87.754657454|(41.992594838, -8...|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

## What are the top 10 number of reported crimes by Primary type, in descendng order of occurence?

In [80]:
orc.groupby('Primary Type').count().orderBy('count',ascending = False).show(5)

+------------------+-----+
|      Primary Type|count|
+------------------+-----+
|           BATTERY|35273|
|             THEFT|34442|
|   CRIMINAL DAMAGE|21797|
|           ASSAULT|17727|
|DECEPTIVE PRACTICE|15236|
+------------------+-----+
only showing top 5 rows

## Find the percentage of reported crimes that resulted in an arrest

In [81]:
orc.select('Arrest').distinct().show()

+------+
|Arrest|
+------+
| false|
|  true|
+------+

In [82]:
orc.filter(col('Arrest') == True).count() / orc.select('Arrest').count()

0.12816466247304897

## Find the top 3 locations for reported crimes.

In [83]:
orc.groupby('Location Description').count().orderBy('count', ascending = False).show(3)

+--------------------+-----+
|Location Description|count|
+--------------------+-----+
|              STREET|45111|
|           APARTMENT|38503|
|           RESIDENCE|28182|
+--------------------+-----+
only showing top 3 rows

## Built-in functions

In [32]:
from pyspark.sql import functions

In [33]:
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'List', 'Optional', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_udf', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'min', 'min_by', 'minute', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'xxhash64', 'year', 'years', 'zip_with']

## String functions

### Display the Primary Type column in lower and upper characters, and the first 4 characters of the column

In [34]:
from pyspark.sql.functions import lower, upper, substring

In [35]:
help(substring)

Help on function substring in module pyspark.sql.functions:

substring(str: 'ColumnOrName', pos: int, len: int) -> pyspark.sql.column.Column
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    Notes
    -----
    The position is not zero based, but 1 based index.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

In [84]:
orc.select(lower(col('Primary Type')),upper(col('Primary Type')), substring(col('Primary Type'),1,4)).show(5)

+-------------------+-------------------+-----------------------------+
|lower(Primary Type)|upper(Primary Type)|substring(Primary Type, 1, 4)|
+-------------------+-------------------+-----------------------------+
| deceptive practice| DECEPTIVE PRACTICE|                         DECE|
| deceptive practice| DECEPTIVE PRACTICE|                         DECE|
| deceptive practice| DECEPTIVE PRACTICE|                         DECE|
|            assault|            ASSAULT|                         ASSA|
| deceptive practice| DECEPTIVE PRACTICE|                         DECE|
+-------------------+-------------------+-----------------------------+
only showing top 5 rows

## Numeric functions

### show the oldest date and the most recent date

In [37]:
from pyspark.sql.functions import min,max

In [87]:
orc.select(min(col('Date')),max(col('Date'))).show()

+-------------------+-------------------+
|          min(Date)|          max(Date)|
+-------------------+-------------------+
|2021-01-01 00:00:00|2021-11-12 00:00:00|
+-------------------+-------------------+

## Date

What is 3 days earlier than the oldest date and 3 days later than the most recent date?

In [39]:
from pyspark.sql.functions import date_add, date_sub

In [40]:
help(date_add)

Help on function date_add in module pyspark.sql.functions:

date_add(start: 'ColumnOrName', days: Union[ForwardRef('ColumnOrName'), int]) -> pyspark.sql.column.Column
    Returns the date that is `days` days after `start`

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08', 2,)], ['dt', 'add'])
    >>> df.select(date_add(df.dt, 1).alias('next_date')).collect()
    [Row(next_date=datetime.date(2015, 4, 9))]
    >>> df.select(date_add(df.dt, df.add.cast('integer')).alias('next_date')).collect()
    [Row(next_date=datetime.date(2015, 4, 10))]

# Working with dates

In [41]:
from pyspark.sql.functions import to_date, to_timestamp, lit

In [42]:
rc.select(to_date(lit('2021-12-25')),to_date(lit('2019-25-15'))).show(1)

+-------------------+-------------------+
|to_date(2021-12-25)|to_date(2019-25-15)|
+-------------------+-------------------+
|         2021-12-25|               null|
+-------------------+-------------------+
only showing top 1 row

2019-12-25 13:30:00

In [43]:
df = spark.createDataFrame([('2019-12-25 13:30:00',)], ['Christmas'])
df.show(1)

+-------------------+
|          Christmas|
+-------------------+
|2019-12-25 13:30:00|
+-------------------+

In [44]:
df.select(to_date(col('Christmas'), 'yyyy-MM-dd HH:mm:ss'), to_timestamp(col('Christmas'), 'yyyy-MM-dd HH:mm:ss')).show(1)

+---------------------------------------+--------------------------------------------+
|to_date(Christmas, yyyy-MM-dd HH:mm:ss)|to_timestamp(Christmas, yyyy-MM-dd HH:mm:ss)|
+---------------------------------------+--------------------------------------------+
|                             2019-12-25|                         2019-12-25 13:30:00|
+---------------------------------------+--------------------------------------------+

25/Dec/2019 13:30:00

In [45]:
df = spark.createDataFrame([('25/Dec/2019 13:30:00',)], ['Christmas'])
df.show(1)

+--------------------+
|           Christmas|
+--------------------+
|25/Dec/2019 13:30:00|
+--------------------+

In [46]:
df.select(to_date(col('Christmas'), 'dd/MMM/yyyy HH:mm:ss'), to_timestamp(col('Christmas'), 'dd/MMM/yyyy HH:mm:ss')).show(1)

+----------------------------------------+---------------------------------------------+
|to_date(Christmas, dd/MMM/yyyy HH:mm:ss)|to_timestamp(Christmas, dd/MMM/yyyy HH:mm:ss)|
+----------------------------------------+---------------------------------------------+
|                              2019-12-25|                          2019-12-25 13:30:00|
+----------------------------------------+---------------------------------------------+

In [47]:
nrc = spark.read.csv('reported-crimes.csv',header=True)
nrc.show(5, truncate=False)

+--------+-----------+----------------------+-------------------------+----+-------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|ID      |Case Number|Date                  |Block                    |IUCR|Primary Type |Description            |Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On            |Latitude    |Longitude    |Location                     |
+--------+-----------+----------------------+-------------------------+----+-------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
|12571973|JE482457   |12/19/2021 07:23:00 AM|042XX S MOZART ST        |0460|BATTERY      |SIMPLE                 |SIDEWALK            |true  |true    |0921|009     |15  |58            |08B     |1158067     |1876425     |2021|09/12/2022 04:45:45 PM|41.81665685 |-87.695688608|(41.81665685, -87.695688608) |
|12343475|JE202728   |04/16/2021 08:45:00 PM|056XX N RIDGE AVE        |0820|THEFT        |$500 AND UNDER         |OTHER (SPECIFY)     |false |false   |2013|020     |48  |77            |06      |null        |null        |2021|04/23/2021 04:51:47 PM|null        |null         |null                         |
|12602803|JF125633   |10/21/2021 11:00:00 AM|083XX S STONY ISLAND AVE |500E|OTHER OFFENSE|EAVESDROPPING          |OTHER (SPECIFY)     |false |false   |0412|004     |8   |45            |26      |1188260     |1849805     |2021|02/27/2022 03:46:31 PM|41.74294124 |-87.585783412|(41.74294124, -87.585783412) |
|12540388|JE444591   |11/14/2021 06:00:00 AM|086XX S COTTAGE GROVE AVE|0850|THEFT        |ATTEMPT THEFT          |CONVENIENCE STORE   |false |false   |0632|006     |6   |44            |06      |1183071     |1847869     |2021|11/21/2021 03:48:03 PM|41.737750767|-87.604855911|(41.737750767, -87.604855911)|
|12541139|JE445494   |11/14/2021 04:00:00 AM|034XX W 38TH ST          |0486|BATTERY      |DOMESTIC BATTERY SIMPLE|RESIDENCE           |false |true    |0911|009     |12  |58            |08B     |1154073     |1879187     |2021|11/21/2021 03:48:03 PM|41.824316537|-87.710266215|(41.824316537, -87.710266215)|
+--------+-----------+----------------------+-------------------------+----+-------------+-----------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+------------+-------------+-----------------------------+
only showing top 5 rows

# Working with joins

### Joins

Download police station data

In [48]:
!wget -O police-station.csv https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD
!ls -1

--2023-02-11 18:03:14--  https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.68.26, 52.206.140.199, 52.206.140.205
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘police-station.csv’

police-station.csv      [ <=>                ]   5.57K  --.-KB/s    in 0s

2023-02-11 18:03:14 (680 MB/s) - ‘police-station.csv’ saved [5699]

police-station.csv
reported-crimes.csv
'rows.csv?accessType=DOWNLOAD.1'
sample_data
spark-2.3.1-bin-hadoop2.7
spark-2.3.1-bin-hadoop2.7.tgz
spark-2.3.1-bin-hadoop2.7.tgz.1
spark-2.3.1-bin-hadoop2.7.tgz.2

In [49]:
ps = spark.read.csv('police-station.csv', header=True)
ps.show(5)

+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|    DISTRICT|DISTRICT NAME|            ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|Headquarters| Headquarters|3510 S Michigan Ave|Chicago|   IL|60653|http://home.chica...|        null|        null|        null| 1177731.401| 1881697.404|41.83070169|-87.62339535|(41.8307016873, -...|
|          18|   Near North| 1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|
|          19|    Town Hall|   850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|
|          20|      Lincoln| 5400 N Lincoln Ave|Chicago|   IL|60625|http://home.chica...|312-742-8714|312-742-8803|312-742-8841| 1158399.146| 1935788.826|41.97954951|-87.69284451|(41.9795495131, -...|
|          22|  Morgan Park|1900 W Monterey Ave|Chicago|   IL|60643|http://home.chica...|312-745-0710|312-745-0814|312-745-0569| 1165825.476| 1830851.333|41.69143478|-87.66852039|(41.6914347795, -...|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
only showing top 5 rows

### The reported crimes dataset had only the district number. We should add the district name by joining with the police station dataset

In [94]:
rc.cache()
rc.count()

179939

In [51]:
ps.select(col('DISTRICT')).distinct().show(10)

+--------+
|DISTRICT|
+--------+
|       7|
|      15|
|      11|
|       3|
|       8|
|      22|
|      16|
|       5|
|      18|
|      17|
+--------+
only showing top 10 rows

In [96]:
rc.select('District').distinct().show(10)

+--------+
|District|
+--------+
|     009|
|     012|
|     024|
|     031|
|     015|
|     006|
|     019|
|     020|
|     011|
|     025|
+--------+
only showing top 10 rows

### We should match the format of the key data to perform Join

In [53]:
from pyspark.sql.functions import lpad

In [54]:
help(lpad)

Help on function lpad in module pyspark.sql.functions:

lpad(col: 'ColumnOrName', len: int, pad: str) -> pyspark.sql.column.Column
    Left-pad the string column to width `len` with `pad`.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(lpad(df.s, 6, '#').alias('s')).collect()
    [Row(s='##abcd')]

ps.select(lpad(col("DISTRICT),3,'0')).show(5)

In [55]:
ps.select(lpad(col("DISTRICT"),3,'0')).show(5)

+--------------------+
|lpad(DISTRICT, 3, 0)|
+--------------------+
|                 Hea|
|                 018|
|                 019|
|                 020|
|                 022|
+--------------------+
only showing top 5 rows

In [56]:
ps = ps.withColumn('Format_district', lpad(col("DISTRICT"),3,'0'))
ps.show(5)

+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+---------------+
|    DISTRICT|DISTRICT NAME|            ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|Format_district|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+---------------+
|Headquarters| Headquarters|3510 S Michigan Ave|Chicago|   IL|60653|http://home.chica...|        null|        null|        null| 1177731.401| 1881697.404|41.83070169|-87.62339535|(41.8307016873, -...|            Hea|
|          18|   Near North| 1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|            018|
|          19|    Town Hall|   850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|            019|
|          20|      Lincoln| 5400 N Lincoln Ave|Chicago|   IL|60625|http://home.chica...|312-742-8714|312-742-8803|312-742-8841| 1158399.146| 1935788.826|41.97954951|-87.69284451|(41.9795495131, -...|            020|
|          22|  Morgan Park|1900 W Monterey Ave|Chicago|   IL|60643|http://home.chica...|312-745-0710|312-745-0814|312-745-0569| 1165825.476| 1830851.333|41.69143478|-87.66852039|(41.6914347795, -...|            022|
+------------+-------------+-------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+---------------+
only showing top 5 rows

### Let's join two dataframe with only columns that we want to check

In [97]:
rc.join(ps, rc.District == ps.Format_district, 'left_outer').drop(
    'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'WEBSITE',
 'PHONE',
 'FAX',
 'TTY',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
).show(3)

+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+---------------+
|      ID|Case Number|               Date|               Block|IUCR| Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|Year|          Updated On|DISTRICT|DISTRICT NAME|Format_district|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+---------------+
|12343475|   JE202728|2021-04-16 20:45:00|   056XX N RIDGE AVE|0820|        THEFT|      $500 AND UNDER|     OTHER (SPECIFY)| false|   false|2013|     020|  48|            77|      06|2021|04/23/2021 04:51:...|      20|      Lincoln|            020|
|12602803|   JF125633|2021-10-21 11:00:00|083XX S STONY ISL...|500E|OTHER OFFENSE|       EAVESDROPPING|     OTHER (SPECIFY)| false|   false|0412|     004|   8|            45|      26|2021|02/27/2022 03:46:...|       4|South Chicago|            004|
|12445976|   JE328996|2021-08-07 02:36:00|131XX S FORRESTVI...|041A|      BATTERY|AGGRAVATED - HANDGUN|              STREET| false|   false|0533|     005|   9|            54|     04B|2021|01/03/2023 03:46:...|       5|      Calumet|            005|
+--------+-----------+-------------------+--------------------+----+-------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+----+--------------------+--------+-------------+---------------+
only showing top 3 rows

In [89]:
ps.columns

['DISTRICT',
 'DISTRICT NAME',
 'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'WEBSITE',
 'PHONE',
 'FAX',
 'TTY',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'Format_district']

### what is the most frequently reported stalking criminal activities?

In [103]:
rc.select(col('Primary Type')).distinct().count()

31

In [107]:
rc.select(col('Primary Type')).distinct().orderBy('Primary Type').show(31,truncate=False)

+---------------------------------+
|Primary Type                     |
+---------------------------------+
|ARSON                            |
|ASSAULT                          |
|BATTERY                          |
|BURGLARY                         |
|CONCEALED CARRY LICENSE VIOLATION|
|CRIMINAL DAMAGE                  |
|CRIMINAL SEXUAL ASSAULT          |
|CRIMINAL TRESPASS                |
|DECEPTIVE PRACTICE               |
|GAMBLING                         |
|HOMICIDE                         |
|HUMAN TRAFFICKING                |
|INTERFERENCE WITH PUBLIC OFFICER |
|INTIMIDATION                     |
|KIDNAPPING                       |
|LIQUOR LAW VIOLATION             |
|MOTOR VEHICLE THEFT              |
|NARCOTICS                        |
|NON-CRIMINAL                     |
|OBSCENITY                        |
|OFFENSE INVOLVING CHILDREN       |
|OTHER NARCOTIC VIOLATION         |
|OTHER OFFENSE                    |
|PROSTITUTION                     |
|PUBLIC INDECENCY                 |
|PUBLIC PEACE VIOLATION           |
|ROBBERY                          |
|SEX OFFENSE                      |
|STALKING                         |
|THEFT                            |
|WEAPONS VIOLATION                |
+---------------------------------+

In [115]:
ncrc = rc.filter(col('Primary Type') == 'STALKING')
ncrc.show(30)

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|12345574|   JE205865|2021-04-14 00:00:00| 060XX S SANGAMON ST|0580|    STALKING|              SIMPLE|           APARTMENT| false|    true|0712|     007|  16|            68|     08A|     1171012|     1864729|2021|04/23/2021 04:49:...|41.784288355|-87.648545055|(41.784288355, -8...|
|12874478|   JF452703|2021-10-01 00:01:00|    009XX S CLARK ST|0583|    STALKING|       CYBERSTALKING|           APARTMENT| false|   false|0123|     001|   4|            32|     08A|        null|        null|2021|10/29/2022 04:51:...|        null|         null|                null|
|12343927|   JE203664|2021-04-19 08:00:00| 050XX N SHERIDAN RD|0584|    STALKING|VIOLATION OF STAL...|           RESIDENCE| false|   false|2024|     020|  48|             3|      26|     1168713|     1934093|2021|04/26/2021 04:49:...|41.974678235|-87.654963918|(41.974678235, -8...|
|12347519|   JE207890|2021-04-01 00:00:00|  003XX S WHIPPLE ST|0580|    STALKING|              SIMPLE|           APARTMENT| false|   false|1124|     011|  28|            27|     08A|     1156099|     1898324|2021|04/27/2021 04:48:...|41.876790076|-87.702317506|(41.876790076, -8...|
|12345779|   JE206034|2021-04-21 17:31:00|     034XX W 38TH ST|0580|    STALKING|              SIMPLE|           RESIDENCE| false|    true|0911|     009|  12|            58|     08A|     1154141|     1879189|2021|04/28/2021 04:54:...|41.824320672|-87.710016689|(41.824320672, -8...|
|12346135|   JE206356|2021-04-21 22:00:00|     007XX E 88TH PL|0580|    STALKING|              SIMPLE|VEHICLE NON-COMME...| false|    true|0632|     006|   8|            44|     08A|     1182640|     1846457|2021|04/28/2021 04:54:...|41.733886079|-87.606478657|(41.733886079, -8...|
|12345296|   JE205346|2021-04-21 01:20:00|010XX N KEYSTONE AVE|0584|    STALKING|VIOLATION OF STAL...|           RESIDENCE| false|   false|1111|     011|  37|            23|      26|     1149198|     1906609|2021|04/28/2021 04:54:...|41.899661443| -87.72744124|(41.899661443, -8...|
|12350598|   JE211879|2021-04-02 15:00:00| 045XX S DREXEL BLVD|0580|    STALKING|              SIMPLE|           APARTMENT| false|    true|0221|     002|   4|            39|     08A|     1182957|     1875015|2021|04/29/2021 04:49:...|41.812244589|-87.604430616|(41.812244589, -8...|
|12346841|   JE207177|2021-04-22 18:45:00|  017XX W ARTHUR AVE|0584|    STALKING|VIOLATION OF STAL...|           RESIDENCE|  true|   false|2432|     024|  40|             1|      26|     1163679|     1943485|2021|04/29/2021 04:51:...|42.000558076|-87.673209228|(42.000558076, -8...|
|12446406|   JE329544|2021-08-07 00:00:00|045XX S CALIFORNI...|0580|    STALKING|              SIMPLE|              STREET| false|   false|0922|     009|  15|            58|     08A|     1158461|     1874478|2021|08/14/2021 05:06:...|41.811306003|-87.694296424|(41.811306003, -8...|
|12347955|   JE207754|2021-04-23 13:00:00|     002XX E 37TH ST|0580|    STALKING|              SIMPLE|SCHOOL - PUBLIC G...| false|    true|0212|     002|   3|            35|     08A|     1178665|     1880515|2021|04/30/2021 04:49:...|41.827435856|-87.620005983|(41.827435856, -8...|
|12347758|   JE208422|2021-04-24 01:00:00|    001XX N GREEN ST|0580|    STALKING|              SIMPLE|              STREET| false|    true|1224|     012|  27|            28|     08A|     1170711|     1901002|2021|05/01/2021 04:48:...|41.883831371|-87.648588508|(41.883831371, -8...|
|12348110|   JE208767|2021-04-24 14:15:00|021XX N CALIFORNI...|0584|    STALKING|VIOLATION OF STAL...|POLICE FACILITY /...| false|    true|1414|     014|   1|            22|      26|     1157345|     1914452|2021|05/01/2021 04:48:...|41.921021491| -87.69730355|(41.921021491, -8...|
|12348527|   JE208470|2021-04-24 05:00:00|080XX S MARYLAND AVE|0580|    STALKING|              SIMPLE|           APARTMENT| false|    true|0631|     006|   8|            44|     08A|     1183300|     1851826|2021|05/01/2021 04:48:...|41.748603883|-87.603894034|(41.748603883, -8...|
|12447172|   JE330530|2021-08-08 11:10:00| 087XX S DAUPHIN AVE|0580|    STALKING|              SIMPLE|           APARTMENT| false|    true|0632|     006|   8|            44|     08A|     1184002|     1847032|2021|08/15/2021 05:04:...|41.735432271|-87.601471085|(41.735432271, -8...|
|12350925|   JE211885|2021-04-26 14:30:00| 014XX S INDIANA AVE|0584|    STALKING|VIOLATION OF STAL...|           APARTMENT| false|   false|0132|     001|   3|            33|      26|     1177886|     1893687|2021|05/03/2021 04:48:...|41.863598471|-87.622463983|(41.863598471, -8...|
|12350023|   JE211194|2021-04-26 21:35:00| 058XX S RICHMOND ST|0584|    STALKING|VIOLATION OF STAL...|           RESIDENCE|  true|    true|0824|     008|  16|            63|      26|     1157712|     1865753|2021|05/03/2021 04:48:...|41.787378676|-87.697280532|(41.787378676, -8...|
|12350065|   JE211158|2021-04-26 21:00:00|052XX S DR MARTIN...|0580|    STALKING|              SIMPLE|           RESIDENCE| false|    true|0231|     002|   3|            40|     08A|     1179816|     1870312|2021|05/03/2021 04:48:...|41.799411682|-87.616095602|(41.799411682, -8...|
|12448333|   JE331739|2021-08-09 14:50:00| 009XX W GUNNISON ST|0584|    STALKING|VIOLATION OF STAL...|           APARTMENT| false|   false|2024|     020|  46|             3|      26|     1169229|     1932412|2021|08/16/2021 04:50:...|41.970054296| -87.65311552|(41.970054296, -8...|
|12353446|   JE214194|2021-04-04 12:00:00|    0000X N STATE ST|0580|    STALKING|              SIMPLE|SCHOOL - PRIVATE ...| false|   false|0112|     001|  42|            32|     08A|     1176364|     1900537|2021|05/04/2021 04:47:...|41.882429735|-87.627844406|(41.882429735, -8...|
|12350991|   JE212325|2021-04-27 17:00:00|    001XX W MAPLE ST|0580|    STALKING|              SIMPLE|           RESIDENCE| false|   false|1824|     018|  27|             8|     08A|     1174883|     1907592|2021|05/04/2021 04:49:...|41.901822321|-87.633071176|(41.901822321, -8...|
|12351268|   JE211597|2021-04-27 09:56:00|079XX S CARPENTER ST|0583|    STALKING|       CYBERSTALKING|           RESIDENCE| false|    true|0612|     006|  17|            71|     08A|     1170691|     1852219|2021|05/04/2021 04:49:...|41.749966369| -87.65008631|(41.749966369, -8...|
|12628684|   JF156544|2021-04-29 09:00:00|039XX N NEW ENGLA...|0580|    STALKING|              SIMPLE|           RESIDENCE| false|    true|1632|     016|  38|            17|     08A|        null|        null|2021|02/28/2022 03:47:...|        null|         null|                null|
|12352046|   JE212581|2021-04-28 06:00:00|085XX S KINGSTON AVE|0580|    STALKING|              SIMPLE|           RESIDENCE| false|    true|0423|     004|   7|            46|     08A|     1194648|     1848835|2021|05/05/2021 04:52:...|41.740124815|-87.562409836|(41.740124815, -8...|
|12449051|   JE332730|2021-08-10 13:28:00|040XX W BELLE PLA...|0581|    STALKING|          AGGRAVATED|              STREET| false|    true|1722|     017|  39|            16|     08A|     1148781|     1926943|2021|08/17/2021 04:47:...| 41.95546784|-87.728446009|(41.95546784, -87...|
|12352816|   JE213817|2021-04-29 07:45:00|    019XX N CLARK ST|0580|    STALKING|              SIMPLE|           APARTMENT| false|   false|1814|     018|  43|             7|     08A|     1174188|     1913264|2021|05/06/2021 04:50:...|41.917402098|-87.635454463|(41.917402098, -8...|
|12452369|   JE334906|2021-08-09 14:20:00|077XX S INGLESIDE...|0580|    STALKING|              SIMPLE|              STREET| false|   false|0624|     006|   8|            69|     08A|     1183899|     1853859|2021|08/17/2021 04:45:...|41.754168689|-87.601635756|(41.754168689, -8...|
|12548143|   JE453994|2021-09-06 12:00:00|   028XX N MASON AVE|0580|    STALKING|              SIMPLE|           APARTMENT| false|   false|2514|     025|  30|            19|     08A|     1136237|     1918233|2021|11/24/2021 03:47:...|41.931800389|-87.774769643|(41.931800389, -8...|
|12353049|   JE214717|2021-04-30 08:45:00| 133XX S LANGLEY AVE|0580|    STALKING|              SIMPLE|              STREET| false|    true|0533|     005|   9|            54|     08A|     1183291|     1817357|2021|05/07/2021 04:49:...|41.654016709| -87.60499518|(41.654016709, -8...|
|12449947|   JE333626|2021-08-11 08:45:00|     064XX W 64TH PL|0580|    STALKING|              SIMPLE|              STREET| false|    true|0812|     008|  23|            64|     08A|     1134598|     1861059|2021|08/18/2021 04:55:...|41.774935438|-87.782141511|(41.774935438, -8...|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 30 rows

In [117]:
ncrc.groupBy(col('Description')).count().orderBy('count', ascending=False).show(truncate=False)

+--------------------------------------+-----+
|Description                           |count|
+--------------------------------------+-----+
|SIMPLE                                |196  |
|VIOLATION OF STALKING NO CONTACT ORDER|92   |
|CYBERSTALKING                         |28   |
|AGGRAVATED                            |3    |
+--------------------------------------+-----+

The most frequent stalking criminal activity is descriped as 'SIMPLE'

### Which day of the week with the most reported crime?

In [100]:
from pyspark.sql.functions import date_format


df = rc.withColumn("Day", date_format(col("Date"), "E"))
df.select("Date", "Day").show(5)

+-------------------+---+
|               Date|Day|
+-------------------+---+
|2021-04-16 20:45:00|Fri|
|2021-10-21 11:00:00|Thu|
|2021-08-07 02:36:00|Sat|
|2021-06-02 11:30:00|Wed|
|2021-01-09 15:59:00|Sat|
+-------------------+---+
only showing top 5 rows

In [102]:
df.groupby('Day').count().orderBy('count').show(1)

+---+-----+
|Day|count|
+---+-----+
|Thu|24553|
+---+-----+
only showing top 1 row

Thursday has the most reported crime